html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------start*----------*/

 *,*::before,*::after{
    box-sizing: border-box;
 }

 img{
	vertical-align: middle;
 }

 body {
	font-size: 24px;
	line-height: 1.5;	
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
 }

 .container{
	width: 1200px;
	margin: 0 auto;
 }

 h1{
    font-size: 80px;
	line-height: 95px;
	border-bottom: 2px solid #000;
	padding-bottom: 22px;
 }

 h2{
	font-size: 32px;
 }

 h3{
	font-size: 24px;
 }

 h4{
	font-size: 20px;
 }

 .mb_1{
	margin-bottom: 8px;
 }

 .mb_2{
	margin-bottom: 16px;
 }

 .mb_3{
	margin-bottom: 24px;
 }

 .mb_4{
	margin-bottom: 36px;
 }

 .mb_5{
	margin-bottom: 40px;
 }

 .mb_6{
	margin-bottom: 48px;
 }

 .mb_7{
	margin-bottom: 56px;
 }

 .mb_8{
	margin-bottom: 64px;
 }
 
 .pt_3{
	padding-top: 24px;
 }

 .pt_5{
	padding-top: 40px;
 }

 .pb_5{
    padding-bottom: 40px;
 }

 .text-white{
	color: #ffffff;
 }

 .text-center{
	text-align: center;
 }

 .text-width{
	width: 642px;
	font-size: 20px;
 }

 .title{
	font-size: 32px;
	line-height: 48px;
	font-weight: 700;
	border-bottom: 1px solid #000;
	padding-bottom: 8px;
 }
 
 .subtitle{
	font-size: 24px;
	color: #A00404;
	padding-left: 16px;
	font-weight: 700;
 }

 .bg_gray{
	background-color: #415165;
 }

 .title_w{
	font-size: 32px;
	line-height: 48px;
	border-bottom: 1px solid #fff;
	padding-bottom: 8px;
 }

 .subtitle_w{
	font-size: 24px;
	padding-left: 16px;
 }

 .item_w{
	width: 250px;
	margin: 0 auto;
	border-left: 1px solid #fff;
	text-align: left;
	padding-left: 24px;
	font-weight: 300;
 }

 .skill{
	width: 996px;
	margin: 0 auto;
 }

 .bold{
	font-weight: bold;
 }

 .footer_item_w{
	width: 530px;
	margin: 0 auto;
	text-align: center;
	padding-left: 24px;
	font-weight: 300;
 }

 footer ul li a{
	color: #fff;
	text-decoration: none;
 }

 footer ul li a:hover{
	opacity: 0.5;
 }

 footer ul li a img{	
	margin: 0 12px;
 }








 